image2_2.jpeg
Named Entities
image2_4.jpeg
TBR Survey Results_20_12_07.csv
pythonProject
TBR Survey Results_20_12_07.xlsx
pythonProject1
image1_1.jpeg
pythonProject2
image1_3.jpeg
pythonProjectForAero
.ipynb_checkpoints
.DS_Store